<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Architecture and design office interested in the essential, the functional, the radical."/>
    <title>{{ page.title }}</title>
    <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
